<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BasicSuite">
	 <test name="HomePageTestsExecution">
		<classes>
			<class name="tests.HomePageTests" />
		</classes>
	</test> 

	<test name="RegistrationTests">
		<classes>
			<class name="tests.RegistrationTests" />
		</classes>
	</test>
	
	<test name="DataStructureIntroTests">
		<classes>
			<class name="tests.DataStructureIntroTests" />
		</classes>
	</test>
	
	<test name="QueueTests">
		<classes>
			<class name="tests.QueueTests" />
		</classes>
	</test>

</suite>
