<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BasicSuite">
<listeners>
        <listener class-name="listeners.ChainTestListener" />
    </listeners>
  
	<test name="PageTestsExecution">
	
    
	<classes>
		
		<class name="tests.ArrayTests" /> 
		
		<class name="tests.DataStructureIntroTests" />
		<class name="tests.QueueTests" />
		<class name="tests.LinkedListTests" />
		<class name="tests.TreeTests" />
			<class name="tests.RegistrationTests" />
		<class name="tests.LoginTest" />
		<class name="tests.GraphTests" />
		<class name="tests.StackTests" />
 	</classes>

	</test>

</suite>
